.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.QuoteData {
  border: 1px solid black;
  padding: 10px;
  width: 50%;
}

.counatiner {
  width: 70%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  /* gap: 30px; */
  row-gap: 30px;
}

.image_Desc {
  /* height: 400px;  */
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  /* border: 2px solid black; */
  padding: 35px;
  border-radius: 25px;
}

.imageBox img {
  width: 260px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.searchBox {
  width: 250px;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}

h1 {
  margin: 50px 0;
  font-size: 80px;
}

.heding {
  margin: 3rem 0;
  font-size: 100px;
  color: green;
  text-shadow: 3px 2px 3px rgba(202, 232, 9, 0.6);
}

.button_gap {
  margin: 3rem 0;
}
.headerLogo {
  border-radius: 50%;
  /* border: 2px solid black; */
}
.headerLogo > img {
  width: 120px;
  border-radius: 10px;
  background: transparent;
}
.navbar_nav {
  width: 70%;
  margin: 0 auto;
}

.body {
  /* background-color: #f1f1f1; */
}
.list {
  list-style: none;
}

.list li {
  display: inline-block;
  margin-right: 60px;
}

.list li a {
  color: green;
  text-decoration: none;
  font-size: 35px;
  padding: 10px 15px;
}

.list li a:hover {
  background-color: green;
  color: yellow;
  border-radius: 20px;
}

.sorting__widget {
  margin-bottom: 50px;
}
.selectBox {
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
}
